# Topup Kilat - Environment Variables

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Topup Kilat

# Supabase (Backend Database & Auth)
NEXT_PUBLIC_SUPABASE_URL=https://tzykgukfnmgjwvaebtnc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6eWtndWtmbm1nand2YWVidG5jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMjMzNTAsImV4cCI6MjA5ODg5OTM1MH0.OK9X2af-Rv9jm-bcmgLmiEoy8vIlAFnsahRT88QbwEg
